<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>CsED</title>

    <!-- Import Montserrat font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

    <!-- Normalize.css fixes lot of differences between browsers default styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css"/>

    <!-- project wide styling -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style/site.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/background.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/button.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/card.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/table.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/form.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/grid.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/utils.css') }}">

    <!-- page specific styling -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style/detailed-view.css') }}">
</head>

<body>
<div id="body-wrapper">
    <header class="clearfix">
        <img id="header-logo" src="{{ url_for('static', filename='assets/codecool-logo.png') }}" alt="Codecool Logo">
        <span id="header-title" class="title">
                    Codecool Series DB
                </span>
        <div id="header-auth">
            <button type="button" id="bt-register">Register</button>
            <button type="button" id="bt-login">Login</button>
        </div>
    </header>
    <section>
        <nav class="breadcrumb">
            <a href="#">{{ data['title'] }}</a>
            {#            <span class="separator">&gt;</span>#}
            {#            <a href="#">Season 3</a>#}
            {#            <span class="separator">&gt;</span>#}
            {#            <a href="#">Episode 8</a>#}
        </nav>
        <h1 class="title text-center">Welcome page</h1>
        <div class="card">
            <h2>Welcome TV show lovers!</h2>
            <p>This great site is happy to bring you your favourite TV show's <i>details</i>.</p>
            <p></p>
            <p>Okay, actually this is a designed dumb page without any logic.</p>
            <p>You can find a navigational element, the so called "breadcrumb" above the page's title. Use it for
                in-depth
                navigation.
            </p>
        </div>

        <script src="../static/js/embed-youtube.js" defer></script>
        {% if video_id %}
            <script>videoId = "{{ video_id }}"</script>
        {% else %}
            <div></div>
        {% endif %}

        <div class="card detailed-view">
            <div class="row">
                <div id="player"></div>
                <div class="col col-twothird">
                    <h2>{{ data['title'] }}</h2>
                    <p class="small grayed">
                        {% if data['runtime'] // 60 != 0 %}
                            {{ data['runtime'] // 60 }}h
                        {% endif %}
                        {% if data['runtime'] % 60 != 0 %}
                            {{ data['runtime'] % 60 }}min
                        {% endif %}
                        <span class="separator">|</span>
                        {{ data['genre'] }} <span class="separator">|</span> {{ data['year'] }}
                        <span class="separator">|</span> {{ data['rating'] }} ☆
                    </p>

                    <p>{{ data['overview'] }}</p>
                </div>
            </div>
            <div>
                <p><b>Director:</b>&nbsp;<a href="#">Tim Miller</a></p>
                <p><b>Writers:</b>&nbsp;<a href="#">Rhett Reese</a>, <a href="#">Paul Wernick</a></p>

                <p>
                    <b>Stars:</b>
                    <a href="#">{{ actors_name }}</a>
                </p>
            </div>
        </div>


        <div class="card">
            <p>Seasons</p>
            <table>
                <thead>
                <tr>
                    <th></th>
                    <th>Seasons</th>

                    <th class="action-column">Overview</th>
                </tr>
                </thead>
                <tbody>
                {% for season in seasons %}
                <tr>
                <td>{{ season['season_number'] }}</td>
                    <td>{{ season['title'] }}</td>
                    <td class="action-column">
                        {{ season['overview'] }}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </section>
    <footer>
        Copyright, bla-bla
    </footer>
</div>
<div class="background">
    <div class="dark-blue-layer"></div>
    <div class="light-blue-layer"></div>
</div>
</body>

</html>